RewriteEngine on
RewriteCond $1 !^(index\.php|assets|images|js|css|uploads|favicon.png)
RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^(.*)$ ./index.php/$1 [L]

<FilesMatch "\.(flv|gif|jpg|jpeg|png|ico|mp4)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>

